/************************************************
    CUSTOM PROPERTIES
 ************************************************/
:root {
    --background-color: #b81350;
}

/************************************************
    RESET 
 ************************************************/
body {
    background-color: var(--background-color);
}

/************************************************
    UTILITIES 
 ************************************************/
.borderY-gray {
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

/************************************************
    MAIN 
 ************************************************/
main > .pink {
    color: var(--background-color);
}

/* Card - Calcola prezzo */
#info-card input,
#info-card select {
    border-color: var(--background-color);
    border-width: 2px;
    text-align: center;
}

#info-card button {
    border-color: var(--background-color);
    color: var(--background-color);
}
#info-card button:active {
    border-color: orange;
}

/* Card - Il tuo biglietto */
#ticket-card {
    display: none;
}

#ticket-card .dettagli-passeggero {
    background-color: gray;
}

#ticket-card table {
    width: 100%;
}
#ticket-card thead th {
    padding-bottom: 2rem;
}
