/************************************************
    CUSTOM PROPERTIES
 ************************************************/
:root {
    --background-color: #b81350;
}

/************************************************
    RESET 
 ************************************************/
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background-color: var(--background-color);
}

table {
    width: 100%;
}
thead th {
    padding-bottom: 2rem;
}

/************************************************
    UTILITIES 
 ************************************************/
.borderY-gray {
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

/************************************************
    MAIN 
 ************************************************/
main > .pink {
    color: var(--background-color);
}

main input,
main select {
    border-color: var(--background-color);
    border-width: 2px;
    text-align: center;
}

main button {
    border-color: var(--background-color);
    color: var(--background-color);
}
main button:active {
    border-color: orange;
}

#ticket-card {
    display: none;
}

.dettagli-passeggero {
    background-color: gray;
}

/************************************************
    RESPONSIVE: MOBILE-FIRST
 ************************************************/

/************************************************
    FONTS
 ************************************************/
